<div class="row container mt-4">
    <div class="col-3"> 
        <!-- <h3>Busquedas</h3>
        <hr/>
        <ul class="list-group">
            <li 
                routerLink=""
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
                class="list-group-item"
            >Buscar Pais</li>
            <li 
                routerLink="region"
                routerLinkActive="active"
                class="list-group-item">Por region</li>
            <li 
                routerLink="capital"
                routerLinkActive="active"
                class="list-group-item">Por Capital</li>
        </ul> -->
        <app-sidebar></app-sidebar>
    </div>
    <div class="col">
        <router-outlet></router-outlet>
    </div>
</div>