
<div *ngIf="!pais; else divPais"  
    class="alert alert-info">
    Espere por favor...
</div>



<ng-template #divPais>
<div class="row">
    <div class="col-12">
        <h1>
            Pais <small>{{pais[0].name.common}}</small>
        </h1>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="pais[0].flags.png" class="img-thumbnail">
        </div>
        <div class="col">
            <h3>Informacion</h3>
            <ul class="list-group">
                <li class="list-goup-item">
                    <strong>Población:</strong> {{pais[0].population}}
                </li> 
                <li class="list-goup-item">
                    <strong>Codigo Numerico:</strong> {{pais[0].ccn3}}
                </li>
                <li class="list-goup-item">
                    <strong>Codigo Cca3:</strong> {{pais[0].cca3}}
                </li>
            </ul>   
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span *ngIf="pais[0].translations['deu']" class="badge bg-primary mr-1">{{pais[0].translations['deu'].common}}</span>
            <span *ngIf="pais[0].translations['spa']" class="badge bg-primary mr-1">{{pais[0].translations['spa'].common}}</span>
            <span *ngIf="pais[0].translations['fra']" class="badge bg-primary mr-1">{{pais[0].translations['fra'].common}}</span>
            <span *ngIf="pais[0].translations['jpn']" class="badge bg-primary mr-1">{{pais[0].translations['jpn'].common}}</span>
            <span *ngIf="pais[0].translations['ita']" class="badge bg-primary mr-1">{{pais[0].translations['ita'].common}}</span>
            <span *ngIf="pais[0].translations['por']" class="badge bg-primary mr-1">{{pais[0].translations['por'].common}}</span>
            <span *ngIf="pais[0].translations['nld']" class="badge bg-primary mr-1">{{pais[0].translations['nld'].common}}</span>
            <span *ngIf="pais[0].translations['hrv']" class="badge bg-primary mr-1">{{pais[0].translations['hrv'].common}}</span>
            <span *ngIf="pais[0].translations['fas']" class="badge bg-primary mr-1">{{pais[0].translations['fas'].common}}</span>
            <span *ngIf="pais[0].translations['bre']" class="badge bg-primary mr-1">{{pais[0].translations['bre'].common}}</span>

        </div>
    </div>
    <!-- <pre class="mt-5">
        {{pais[0]|json}}
    </pre> -->
</div>
</ng-template> 